@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;  
}

body{
    background-color:#181818;
    min-height:100vh;
    overflow-x: hidden;
 }
 
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    
}

header .logo img :first-child {
    height: auto;
    width: 225px;
    filter: saturate(0%);
    filter: brightness(0%);
    -webkit-filter: saturate(100%);
    -webkit-filter: brightness(100%);
}

header ul{
    position: relative;
    display: flex;
    top: -70px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.banner{
    position: static;
    width: 100vw;
    height: 100vh;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.sticky ul li a{
    color:#000 ;
}

header.sticky .logo img {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.footer{
    position: relative;
    bottom: 0;
    width: 100vw;
    display: block;
    overflow: hidden; 
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #2e2d2d;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img {
    width: 250px;
    height: auto;
}

.inner_footer .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    overflow-x: hidden;
}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h1 {
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a {
    font-family: 'arial';
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 20px;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span {
    color: white;
    font-family: 'arial';
    font-size: 16px;
    font-weight: 200;
    display:block;
    width: 100%;
    padding-top: 20px;
}

@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}