@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(./config.css);
@import url(./custom.css);
@import url(./responsive.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;  
}

body{
    background-color:#181818;
    min-height:100vh;
    overflow-x: hidden;
}



.background-banner {
    position: relative;
    background-color: antiquewhite;
}

.banner{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.logo{
    width: 200px;
    height: auto;
}

.container-login{
    color: #fff;
    position: relative;
    margin-left: 10vmax;
    height: fit-content;
    width: 30vmax;
    
    padding: 15px;
    border-radius: 50px;
}

.container-produto{
    background-color: #fff;
    border: #000 1px solid;
    margin: 5% 5% 5% 5%;
}

.container-produto-filtro{
    padding: 15px 15px 15px 15px;
    width: 200px;
    height: 100%;
    background-color: #000;
}

.titulo-login {
    font-size: 6rem;
    padding-left: 20px;
}

.nome-login{
    width: 100%;
    padding: 10px 20px;
}

.senha-login {
    width: 100%;
    padding: 10px 20px;
}

.nav-input {
    border: none;
    background:none;
    outline: none;
}

.nav-input:focus{
    border: none;
    background: none;
}

/* .footer{
    position: relative;
    bottom: 0;
    width: 100vw;
    display: block;
    overflow: hidden; 
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #2e2d2d;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img {
    width: 250px;
    height: auto;
}

.inner_footer .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    overflow-x: hidden;
}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h1 {
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a {
    font-family: 'arial';
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 20px;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span {
    color: white;
    font-family: 'arial';
    font-size: 16px;
    font-weight: 200;
    display:block;
    width: 100%;
    padding-top: 20px;
}

@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
} */