<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{../css/estilo.css}">
<link rel="stylesheet"
	th:href="@{../bootstrap-4.5.3-dist/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{../fontawesome-free-5.15.1-web/css/all.min.css}">
<title>Login</title>
</head>
<body>



<!-- navbar -->
<!--HEADER-->
    <div id="header">
      <div class="container">
        <nav
          class="navbar navbar-expand-lg navbar-light justify-content-between"
        >
          <a class="navbar-brand" href="#">
          <a th:href="@{/}" class="logo"> <img th:src="@{images/logo.png}">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="#">Página Inicial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{produto/view}">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mercados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!--//HEADER-->

  
	  
	<section>
		<img class="banner" th:src="@{images/MercadoImagem.jpg}">
	</section>
	<div class="container-login">
		<div class="form-group titulo-login">Entrar</div>
		<form class="form-login" th:action="@{/login}" method="POST">
			<div class="form-group">
				<input class="nome-login" placeholder="Nome ou email"
					name="username" type="text" required />
			</div>
			<div class="form-group">
				<input class="senha-login" placeholder="Senha" name="password"
					type="password" required />
			</div>
			<div class="form-group">
				<input id="remember-me" name="remember-me" type="checkbox" /> <label
					class="label-lembrar" for="remember-me">Lembrar da senha?</label>
			</div>
			<div class="form-group btn-login">
				<button class="btn btn-success" type="submit">Entrar</button>
			</div>
			<a th:href="@{/cadastro/usuario}">Não possui cadastro ?</a>
		</form>
	</div>

	<div class="footer">
		<div class="inner_footer">
			<div class="logo_container">
				<img th:src="@{/images/logoBranca.png}" />
			</div>

			<div class="footer_third">
				<h1>Precisa de ajuda ?</h1>
				<a href="#">Termos &amp; Condições</a> <a href="#">Políticas de
					privacidade</a>
			</div>

			<div class="footer_third">
				<h1>Mais</h1>
				<a href="#">Termos &amp; Condições</a> <a href="#">Políticas de
					privacidade</a>
			</div>

			<div class="footer_third">
				<h1>Contato</h1>
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li> <span>
					Telefone : 3223-2332 <br> CEP: 12345-678<br>
					Florianópolis, Santa Catarina <br>
				</span>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{../jquery-3.5.1/jquery-3.5.1.js}"></script>
	<script th:src="@{../bootstrap-4.5.3-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{../js/main.js}"></script>
	
    
</body>
</html>